body{
    margin:0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    border-radius: 16px;
    overflow: hidden;
}

input{
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid #a9a9a9;
    border-radius: 15px;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.1);
}
input::placeholder {
    color: #888;
    transition: opacity 0.2s ease, color 0.2s ease;
}

input:focus::placeholder {
    opacity: 0;
}

button{
    border-radius: 12px;
    margin : 10px 0px;
    background-color: #1f3d55;
    text-align: center;
    cursor: pointer;
    padding: 10px 25px ;
    width: 120px;
    color: white;
    border: 1px solid #1f3d55;
    font-weight: bold;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-size: 11px;
}

button i{
    font-size: 16px;
}
.btn-container {
    display: flex;
    gap: 10px;
}
button i{
    padding-bottom: 5px;
}


#delete-btn{
    background-color: white;
    color: #e11d48;
    border: solid 1px #e11d48;
}
#tab-btn{
    background-color: white;
    color: #1f3d55;
}

ul{
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

li{
 margin-top: 5px
}

a{
    color: #1f3d55;
    text-decoration: none;
}